# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# frontend
/frontend/node_modules
/frontend/build
/frontend/frontend.log

# backend
/backend/venv
/backend/__pycache__
/backend/Data
/backend/gear_fault_yolo/__pycache__
/backend/gear_fault_yolo/cache
/backend/gear_fault_yolo/yolov5/__pycache__
